<style>
.black-background {
  background-color: black;
}

body {
  font-family: verdana;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin-right: 20px;
}
li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}

.image-icon {
  width: 50px;
}
h3 {
  font-style: bold;
}
h4 { text-align: center;
      margin-bottom: 25px;

}
h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}
h5 {
  margin-top: 50px;
  text-align: right;
}
hr {
      width: 60%;
}
h6 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  }
.black-border {
  border-color: black;
  border-width: 10px;
  border-style: solid;
}
.img-portfolio {
  margin-bottom: 20px;
}
.navbar-text > a {
	color: inherit;
	text-decoration: none;
  padding-bottom: 50px;
}
/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

	header {
    position: absolute;
}

	.image-icon {
    display:inline-block;
}

	nav ul, nav:active ul {
    display: none;
}
.image-selfie {
  text-align: center;
}


</style>
